---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="最深情" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Copi AI 将会帮你部署 
    <span class="text-primary"> 太阳系第一深情 </span> 聊天机器人.
    <br />你有任何<span class="text-primary"> 情感困难  </span> 都可以去和它聊聊.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://www.copiai.club/#/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <span>开始聊天</span>
    </a>
    <a
      href="https://www.copiai.club/#/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <span>关注我们</span>
    </a>
  </div>
</ContentSection>
